.page-header {
	padding: 31px 0 8px;
	background: #181617 url("/img/main-coon-desktop@1x.png") no-repeat right bottom;

	@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
		background-image: url("/img/main-coon-desktop@2x.png");
		background-size: 1019px auto;
	}
}

.page-header__crown {
	display: block;
	width: 59px; 
	height: 59px;   
	margin: 0 auto;
}

.page-header__desc {
	padding: 78px 0 0 14.8%; 
}

.page-header__city,
.page-header__text {
	font-weight: normal;
	line-height: 24px;
	color: #A07B50;
	letter-spacing: 0.3px;
}

.page-header__title { 
	margin: 0;
	font-family: YesevaOne;
	font-size: 52px;
	line-height: 60px;
}

.page-header__btn {
	margin-top: 34px;
	padding: 17px 37px; 
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	background: transparent;
	border: 0.5px solid #A07B50;
	transition: all 0.4s ease; 

	&:hover {
		background: #A07B50;
	}
}

.page-header__list {
	margin: 0;
	padding: 44px 5.8%;
	list-style: none;   
}

.page-header__item {
	position: relative;
	padding-bottom: 8px;

	&:first-child::before {
		position: absolute;
		content: "";
		width: 0;    
		height: 77.5px;
		left: 7px;
    top: -103px;   
		border: 0.5px solid rgba(255, 255, 255, 0.61);
	}
}

.page-header__icon {
	fill: #FFFFFF;
	transition: all 0.4s ease; 

	&:hover {
		fill: #A07B50;
	}
}

.page-header__icon--Vk {
	width: 13px;
	height: 8px;
}

.page-header__icon--Twitter {
	width: 15px;
	height: 11px;
}

.page-header__icon--Facebook {
	width: 14px; 
	height: 11px;
}

@media (max-width: $desktop-width) { 
  .page-header {
		padding: 13px 0 8px;
		background: #181617 url("/img/main-coon-tablet@1x.png") no-repeat right bottom;

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("/img/main-coon-tablet@2x.png");
			background-size: 651px auto;
		}
	}

	.page-header__desc {
		padding: 57px 0 0 5.6%;   
	}

	.page-header__btn {
		margin-top: 40px;   
	}    

	.page-header__list {
    display: flex;
		padding: 56px 5.4% 22px;  
	}

	.page-header__item {
		padding-right: 10px;

		&:first-child::before {
			height: 0;
			border: none;
		}
	}
	
	.page-header__icon--Twitter {
		width: 18px;
		height: 21px;
	}
	
	.page-header__icon--Facebook {
		width: 6px; 
		height: 22px;
	}
}

@media (max-width: $tablet-width) { 
	.page-header {
		padding: 10px 0 277px;
		background: #181617 url("/img/main-coon-mobile@1x.png") no-repeat right bottom;  

		@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
			background-image: url("/img/main-coon-mobile@2x.png");
			background-size: 275px auto;
		}
	}

	.page-header__crown {
		width: 54px; 
		margin: 0 auto 30px;
	}

	.page-header__desc {
		width: 260px;
		margin: 0 auto;
		padding: 0; 
		text-align: center;    
	}

	.page-header__city,
	.page-header__text {
		margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
	}

	.page-header__title { 
		font-size: 36px;
		line-height: 41px;
	}

	.page-header__btn {
		font-size: 12px;
    margin-top: 27px;
    padding: 11px 15px; 
	}

	.page-header__list {
    display: none;   
	}
}